hw5_vehicle_license_plate_recognition/LPD_dataset/
hw5_vehicle_license_plate_recognition/preprocessed/
hw5_vehicle_license_plate_recognition/dataset-train&val/
hw5_vehicle_license_plate_recognition/train-saver/